* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scrollbar-width: none;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  height: 100vh;
}

* ::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 0;
  display: none;
}

p {
  font-size: 1.5rem;
  font-weight: 200;
}

.padding0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.img-user {
  width: 200px;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 100%;
  background: #fff;
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1),
    box-shadow 0.8s cubic-bezier(0.76, 0, 0.24, 1);
}

#horizontal {
  display: flex;
  overflow: hidden;
  width: 100%;
}

#horizontal .content-section {
  height: 100vh;
  width: 100vw;
  display: grid;
  flex-shrink: 0;
  // place-items: center;
  //  margin-left: -0%;
}


#horizontal .content-section:nth-child(4) {
  // background: #724acf;
  background: url("/src/assets/do/bg.png") 100% 100% no-repeat;
  background-size: cover;
}

.loading-page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #724acf;
  background: rgb(244, 138, 184);
  background: linear-gradient(243deg, rgba(244, 138, 184, 1) 0%, #724acf 52%);
}

.hozRight span {
  font-size: 14rem;
  opacity: 0.2;
}

.hozRight {
  animation: hozRight-scroll 50s infinite linear;
  color: #fff;
  top: 40%;
  position: absolute;
  display: flex;
}

.hozRight1 {
  animation: hozRight-scroll 40s infinite linear;
  color: #fff;
  top: 4%;
  position: absolute;
  opacity: 0.1;
  display: flex;
  font-size: 100px;
}

.hozLeft {
  animation: hozLeft-scroll 50s infinite linear;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #e3fc6c;
  color: transparent;
  top: 65%;
  position: absolute;
  opacity: 0.5;
  display: flex;
}

.ico-arrow {
  width: 40px;
  position: absolute;
  right: 3%;
  top: 0;
}

.user-info {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  z-index: 9;
  max-width: 0 auto;
  text-align: center;
  color: #fff;

  span {
    font-weight: 100;
    font-size: 16px;
    margin-top: 40px;
  }

  .right-arrow {
    width: 50px;

  }
}

.img-ico {
  width: 120px;
  position: absolute;
  right: 4rem;
  top: 35%;
}

.small-text {
  text-align: center;
  color: #fff;
  font-family: monospace;
  font-size: 20px;
  margin-bottom: -10px;
}

.code {
  color: #fff !important;
  font-size: 22px;
  font-family: monospace;
}

.info {
  margin-top: 30px;
}

.code {
  font-size: 18px;
}

large {
  font-size: 140%;
  font-weight: bold;
  opacity: 0.3 !important;
}

.user-name {
  text-align: center;
}

.txt-pink {
  color: #fd7fd1;
}

.fill {
  color: #e3fc6c;
}

@keyframes hozRight-scroll {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes hozLeft-scroll {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0%);
  }
}

.user-name {
  color: #ffffff !important;
  font-size: 120px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 768px) {

  .hozRight span,
  .hozLeft span {
    font-size: 3rem !important;
    margin-right: 30px;
  }

  .hozRight,
  .hozLeft {
    animation-duration: 30s;
    top: 50%;
  }

  #section01 h2 {
    font-size: clamp(2rem, 8vw, 70px);
    width: 90%;
    padding-left: 0;
  }

  .user-info {
    top: 10%;
    padding: 0 20px;
  }

  .img-user {
    width: 200px;
  }

  #horizontal .content-section {
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
  }
}

.text-uppercase {
  text-transform: uppercase !important;
}

.loading-page {
  background: url("/src/assets/ggg.jpg") 100% 100% no-repeat;
  background-size: cover;
}

/* ///////////////////section01////////////////// */

h1 {
  color: #333;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

h1 span {
  font-size: 40px;
  margin-left: 40px;
}

.message {
  background-color: yellow;
  color: #333;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 270px;
  animation: openclose 5s ease-in-out infinite;
}

.word1,
.word2,
.word3 {
  font-family: tahoma;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }

  5% {
    width: 0;
  }

  15% {
    width: 230px;
  }

  30% {
    top: 0.2rem;
    width: 230px;
  }

  33% {
    top: 0.2rem;
    width: 0;
  }

  35% {
    top: 0.2rem;
    width: 0;
  }

  38% {
    top: -4.5rem;
  }

  48% {
    top: -4.5rem;
    width: 190px;
  }

  62% {
    top: -4.5rem;
    width: 190px;
  }

  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }

  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }

  86% {
    top: -9rem;
    width: 285px;
  }

  95% {
    top: -9rem;
    width: 285px;
  }

  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }

  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

/* ////////////////////////////////////////////// */
#section01 {
  position: relative;
  // background: #fff;
  background: url("/src/assets/BG.svg") center center fixed no-repeat;
  background-size: cover;
  // background-position: center;

  .title {
    font-family: "Lato", system-ui;
    font-weight: 400;
    font-style: normal;
    padding-left: 30px;
    padding-left: 5%;

    margin-top: 30px;

    h4 {
      // padding-top: 20px;
      font-weight: 300;
    }
  }

  .des-content {
    p {
      font-weight: bold;
    }
  }

  &.content-section {
    &:before {
      content: "";
      // background:#ededf9;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      z-index: 1;
    }
  }

  .section-content {
    position: relative;
    z-index: 9;
  }

  .flex {
    display: flex;
    justify-content: left;
    margin-left: 15%;
  }

  .box-content {
    // position: absolute;
    padding-top: 3%;
  }

  h2 {
    font-size: 6rem;
    // width: 60%;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
    color: #724acf;

    span {
      color: #212529 !important;
      font-size: 40px;
      margin-right: 0;
      font-weight: 500;
    }

  }

  .white {
    color: #fff;
  }

  .box {
    margin: 1.5rem 4rem;
    width: 16rem;
    height: 16rem;
    padding: 50px;
    border-radius: 50%;
    text-align: center;

    img {
      width: 50%;
    }
  }

  .box01 {
    color: #111111;
    background-color: #b295f5;
  }

  .box02 {
    background-image: linear-gradient(0deg,
        rgb(42 41 51 / 57%),
        rgba(42, 41, 51, 0.8)),
      url(/src/assets/section03/02.jpg);
    background-position: 100% 100%;
    background-size: cover;
  }

  .box03 {
    color: #111111;
    background-color: #b295f5;
  }

  .box04 {
    background-color: #b295f5;
    background-position: 100% 100%;
    background-size: cover;
  }

}

.height50 {
  height: 50%;
}

.height40 {
  height: 40%;
}

.height60 {
  height: 60%;
}

.width50 {
  width: 50%;
  height: 100%;
}

/* ////////////////////////////////////////////// */

#section02 {
  color: #ffff;

  .bg-purple {
    background: #724acf;
  }

  .bg-yellow {
    background: #d0e710;
  }

  .bg-light-blue {
    background: #c9d9de;
  }

  .cl-green {
    color: #d1e811;
  }

  .contact {
    margin-top: 10%;
  }

  .do01 {
    background: url(/src/assets/do/cafe.jpg) center center fixed no-repeat;
    background-size: cover;
  }

  .do02 {
    background: url(/src/assets/do/app.png) center center fixed no-repeat;
    background-size: cover;
  }

  .do03 {
    background: url(/src/assets/do/profile.jpg) center center fixed no-repeat;
    background-size: cover;
    background-position: center;
  }

  .do04 {
    background: url(/src/assets/do/logofood.jpg) 100% 100% no-repeat;
    background-size: cover;
    background-position: center;
  }

  .img01 {
    // min-height: 100vw;
    // background-image: url(/src/assets/gggg.jpg);
    background-position: 50% 50%;
    background-size: cover;

  }

  .img02 {
    min-height: 368px;
    // background-image: url(/src/assets/mock02.jpg);
    background-position: 50% 50%;
    background-size: cover;
  }

  .img03 {
    min-height: 368px;
    // background-image: url(/src/assets/mock03.jpg);
    background-position: 50% 50%;
    background-size: cover;
  }

  .des-content {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 10%;

    h2 {
      font-size: 100px;

      .sz45 {
        font-size: 75px;
      }

      .sz110 {
        font-size: 110px;
        font-weight: 500;
      }
    }
  }
}

.relative {
  position: relative;
}

.display-flex {
  display: flex;
}

.contact {
  img {
    width: 80px;
    margin-right: 15px;
  }

  .display-flex {
    justify-content: center;
    align-items: center;
  }

  p {
    font-weight: 300;
    margin-left: 20px;
    font-size: 18px;
  }
}

#section03 {
  background: #724acf;

  .content {
    text-align: center;
    display: inline-block;
    color: #fff;
    padding: 15% 10%;

    .typed-out {
      font-size: 24px;
      font-weight: 200;
      width: 50%;
      margin: 30px auto;
      text-align: center;
    }

    h1 {
      font-family: "Dancing Script", cursive;
      font-weight: Bold;
      font-style: normal;
      text-transform: lowercase;
      font-size: 12rem;
    }

  }

}

.ds-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/////////////////////
///
@media (max-width: 768px) {
  p {
    font-size: 22px;
    font-weight: 300;
  }

  .user-info {
    font-size: 70px;
  }

  #section01 {

    .box {
      width: 10rem;
      height: 10rem;
      padding: 50px;
      margin: 0;

    }

    h2 {
      font-size: 3rem;

      span {
        font-size: 30px;
      }
    }

    .flex {
      margin-left: 20px;
    }

    .des-content {
      h2 {
        font-size: 60px;
      }

      p {
        font-size: 1.5rem;
        font-weight: 200;
      }
    }
  }

  #section02 {
    .des-content {
      h2 {
        font-size: 30px;

        p {
          font-size: 45px;
          font-weight: 500;
        }
      }
    }
  }

  #section03 {
    .content {
      padding: 0;
      margin-top: 50%;

      .typed-out {
        width: 100%;

      }

      h1 {
        font-size: 5rem;
      }

    }

    .contact {
      .display-flex {
        justify-content: left;
        flex-wrap: wrap;
      }

      p {
        font-size: 16px;
      }

      img {
        width: 50px;
      }
    }
  }
}

@media (min-width: 768px) {
  .display {
    display: none;
  }
}

@media (max-width: 390px) {
  .display_none {
    display: none;
  }

  .user-name {
    font-size: 45px;
  }

  .user-info {
    top: 20%;
  }

  #section01 h2 {
    font-size: 2rem;
  }

  .code {
    font-size: 18px;
  }

  #section03 .content h1 {
    font-size: 4.5rem;
  }

  #section01 .flex {
    margin-left: 0;
  }

  #section01 h2 span {
    font-size: 25px;
  }

}